body {
  position: relative;
}
.head {
  width: 100%;
  background-color: #10bbd5;
  position: fixed;
  z-index: 1;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 52px;
  margin-right: 52px;
}
.logo {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 22px;
  padding-bottom: 22px;
}
.logo-text {
  position: absolute;
  top: 25px;
  margin-left: 4px;
  display: inline;
  color: #f8fdfe;
  font-size: 24px;
  font-weight: 700;
}
.head-bascet {
  display: flex;
  align-items: baseline;
  position: relative;
}
.head-bascet-text {
  color: #f8fdfe;
  line-height: 24px;
}
.head-calc {
  position: absolute;
  right: 10px;
  bottom: 6px;
  z-index: 1;
}
.bascet-icon {
  position: relative;
  background-color: #10bbd5;
  border: none;
  line-height: normal;
}
.basket-will-first {
  position: absolute;
  left: 7px;
  top: 24px;
}
.basket-will-second {
  position: absolute;
  right: 3px;
  top: 24px;
}
.head-menu {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 4px 52px;
}
.menu-title {
  color: #000;
  line-height: 24px;
  margin: 0;
}
.menu-list {
  display: flex;
  column-gap: 40px;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.menu-list-link {
  color: #000;
  line-height: 24px;
}
main {
  padding-top: 134px;
  background-color: #eeeeef;
  padding-bottom: 120px;
}
.page-title {
  margin-left: 52px;
  color: #1f1f1f;
  line-height: 40px;
}
.collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid #a8a8a8;
  margin-left: 52px;
  margin-right: 52px;
  margin-top: 23px;
  padding-top: 24px;
  gap: 32px 24px;
}
.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color: #f8fdfe;
  position: relative;
  border: 1px solid #8e8e8e;
}
.label-type {
  display: inline;
  position: absolute;
  top: 33px;
  left: 47px;
}
.top-seller {
  color: #f8fdfe;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  background-color: #4200ff;
  padding: 4px 8px;
}
.condition {
  border-radius: 4px;
  color: #f8fdfe;
  text-align: center;
  line-height: 24px;
  background-color: #af39e7;
  padding: 4px 8px;
}
.discount {
  border-radius: 4px;
  background-color: #ea33c0;
  color: #f8fdfe;
  text-align: center;
  line-height: 24px;
  padding: 4px 8px;
}
.book-card-link img {
  margin-left: 32px;
}
.card-link-img {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  width: 178px;
  height: 280px;
}
.card-link-name {
  display: block;
  width: 242px;
  min-height: 31px;
  color: #1f1f1f;
  font-size: 20px;
  line-height: 28px;
  white-space: nowrap;
  overflow-x: scroll;
}
.book-info {
  display: flex;
  width: 242px;
  flex-direction: column;
  border-top: 1px solid #8e8e8e;
}
.author-name {
  color: #8e8e8e;
  line-height: 24px;
}
.price {
  margin-bottom: 16px;
}
.new-price {
  margin-top: 8px;
  margin-bottom: 16px;
  color: #e90000;
  font-size: 24px;
  line-height: 32px;
}
.old-price {
  color: #8e8e8e;
  font-size: 24px;
  line-height: 32px;
  text-decoration: line-through;
  margin-left: 24px;
}
.add-button {
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #4c394e;
  color: #fff;
  border: none;
}
.endup-button {
  background-color: #4d762d;
  border: none;
}
.foot {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #4c394e;
  padding: 32px 52px;
}
.chat-button {
  z-index: 1;
  position: fixed;
  left: 95%;
  top: 360px;
  box-shadow: none;
  border-radius: 50%;
  background-color: #10bbd5;
  border: none;
}
.foot-span {
  color: #f8fdfe;
  line-height: 24px;
}